@font-face{
  font-family:'Futura-Bold';
  src:url("./fonts/FuturaLTPro-Bold.eot");
  src:url("./fonts/FuturaLTPro-Bold.eot?#iefix")
  format("embedded-opentype"),
  url("./fonts/FuturaLTPro-Bold.woff2")
  format("woff2"),
  url("./fonts/FuturaLTPro-Bold.woff")
  format("woff"),
  url("./fonts/FuturaLTPro-Bold.ttf")
  format("truetype")
}
@font-face{
  font-family:'Futura-BoldItalic';
  src:url("./fonts/FuturaLTPro-BoldOblique.eot");
  src:url("./fonts/FuturaLTPro-BoldOblique.eot?#iefix")
  format("embedded-opentype"),
  url("./fonts/FuturaLTPro-BoldOblique.woff2")
  format("woff2"),
  url("./fonts/FuturaLTPro-BoldOblique.woff")
  format("woff"),
  url("./fonts/FuturaLTPro-BoldOblique.ttf")
  format("truetype")
}
@font-face{
  font-family:'Futura-Book';
  src:url("./fonts/FuturaLTPro-Book.eot");
  src:url("./fonts/FuturaLTPro-Book.eot?#iefix")
  format("embedded-opentype"),
  url("./fonts/FuturaLTPro-Book.woff2")
  format("woff2"),
  url("./fonts/FuturaLTPro-Book.woff")
  format("woff"),
  url("./fonts/FuturaLTPro-Book.ttf")
  format("truetype")
}

@font-face{
  font-family:'Futura-BookItalic';
  src:url("./fonts/FuturaLTPro-BookOblique.eot");
  src:url("./fonts/FuturaLTPro-BookOblique.eot?#iefix")
  format("embedded-opentype"),
  url("./fonts/FuturaLTPro-BookOblique.woff2")
  format("woff2"),
  url("./fonts/FuturaLTPro-BookOblique.woff")
  format("woff"),
  url("./fonts/FuturaLTPro-BookOblique.ttf")
  format("truetype")
}

body {
  margin: 0;
  font-family: Futura-Bold,Arial,Helvetica,sans-serif;
}

.main-container {
  width: 1171px;
  margin: auto;
}

.background-orange {
  background: #ff5900;
  color: #FFF;
}

.background-gray {
  background: #fffcfa;
  box-shadow: inset 0 0 20px rgba(0,0,0,0.05);
}

.background-dark {
  background: #1d1d1d;
  color: #FFF;
}
.quarter-block {
  flex: 1;
}

.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

.d-inline-block {
  display: inline-block;
}

.va-middle {
  vertical-align: middle;
  margin: auto 0;
}

.tabs {
  width: 100%;
  border-bottom: 3px solid #ffeee5;

  li {
    display: inline-block;
    padding: 5px 20px 9px;
    color: #767676;
    font-size: 1.1em;
    font-family: Futura-Bold;
    margin-bottom: -3px;
    cursor: pointer;

    &.active {
      border-bottom: 3px solid #ff5900;
      color: #ff5900;
    }

    p {
      margin: 0;
    }
  }
}

#box-office {
  font-family: Futura-Bold;
}

#map {
  width: 60%;

  img {
    width: 100%;
  }
}

.map-description {
  font-family: Futura-Book;
  display: none;
  width: 39%;
  vertical-align: top;

  p, h3 {
    padding: 0 30px;
  }

  &.active {
    display: inline-block;
  }

  h3 {
    margin: 0;
    font-family: Futura-Bold;
    font-weight: normal;
    font-style: normal;
  }

  a {
    color: #000;
    font-family: Futura-Book;
    text-decoration: underline;
  }
}

.section.directions {
  padding-bottom: 20px;
}

.section {

  h2 {
    font-weight: normal;
    color: #353535;
    font-size: 2.6em;
  }

  ul {
    font-family: Futura-Book;
    padding-left: 0;

    li {
      list-style: none;
    }
  }

  .newsletter {
    max-width: 242px;
    margin-bottom: 0px;
    padding-top: 30px;
    padding-right: 3vw;
    float: right;
  }

  .newsletter-block {
    h2 {
      font-weight: normal;
    }

    svg {
      width: 1em;
      height: 1.5ex;
      margin-right: .5em;
    }
  }

}

.ta-center {
  text-align: center;
}

.section.make-the-most-of-your-visit {
  padding: 50px 0;

  .banners {
    position: relative;
  }

  .button-left {
    left: -90px;
  }

  .button-right {
    right: -90px;
  }

  .button-left, .button-right {
    background: rgba(255,255,255,0.05);
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.1);
    display: block;
    border-radius: 8px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    z-index: 1;
    width: 5.5vw;
    max-width: 70px;
    height: 90px;

    svg {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      left: 0;
      right: 0;
      font-size: 0;
      width: 16px;
      height: 25px;
      opacity: .2;
    }

    path {
      font-size: 0;
      line-height: 1.15;
    }
  }

  .image-blocks {
    vertical-align: top;
    width: 1171px;
    height: 384px;
    overflow: hidden;
  }

  .image-block {
    vertical-align: top;
    display: inline-block;
    width: 376px;
    background: #ffffff;
    margin: 10px 8px;
    border-radius: 8px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    position: relative;
    height: 363px;
    transition: 0.2s ease;
    opacity: 0.9;

    &:first-child {
      margin-left: 0;
    }

    &:hover {
      opacity: 1;
      cursor: pointer;
    }

    .img-label {
      color: #FFF;
      font-size: 0.7em;
      padding: 5px 12px;
      position: absolute;
      margin-top: -23px;
      border-top-right-radius: 4px;
      text-transform: uppercase;
    }

    .block-description {
      padding: 10px 12px 20px;
      border-width: 3px;
      border-top: solid;

      p {
        margin: 0;

        &:last-child {
          color: #767676;
        }
      }
    }

    .img-block {
      height: 267px;
      overflow: hidden;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      text-align: center;
      position: relative;

       img {
         position: absolute;
         margin: 0 auto;
         height: 100%;
         left: -50%;
         right: -50%;
       }
    }
  }
}